@font-face {
    font-family: Bondie;
    src: url(Fonts/BondieRegular-eZeLm.ttf);
}

@keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
}

@keyframes popUp {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}




*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.container{
    padding: 0px 10%;
    position: relative;
    top: 60px;
}
body{
    width: 100%;
    background-color: #281e32;
    color: white;
}
body::-webkit-scrollbar {
    display: none;
}
  

#Hero{
    width: 100%;
    height: 100vh;
    background-image: url(Fotky/End\ 1.png);
    background-size: cover;
}


.navbar{
    background-color: transparent;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.3s;
    z-index: 1000;
}
.navbar.scrolled {
    background: linear-gradient(180deg, hsla(40, 100%, 48%, 1) 0%, hsla(27, 94%, 46%, 1) 93%, hsla(26, 88%, 46%, 1) 100%);
}
nav{
    display: inline-flex;
    gap: 100px;
    position: relative;
    top: 14px;
    left: 100px;
}
nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    font-family: Bondie;
    word-spacing: 10px;
}
a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.3s;
}

a:hover::after {
    width: 100%;
}

.title{
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;    
    animation: scaleUp 2s infinite alternate;
    pointer-events: none;
}

.navbar.pop-up {
    animation: popUp 0.9s ease;
}




#Info{
    width: 100%;
    height: 100vh;
}
.spawn{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    gap: 10px;
    float: right;
    align-items: center;
    width: 350px;
    border-radius: 10px;
}
.informace{
    background-color: #F7a400;
    position: absolute;
    top: 60px;
    width: 500px;
    height: 450px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    border-radius: 10px;
}
.inf{
    position: relative;
    top:  10px;
    left: 40px;
}

.download{
    width: 400px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.download-btn{
    background-color: #37c44f;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.download a{
    text-decoration: none;
    color: #fff;
}
.download-btn:hover{
    background-color: #13f338e3;
}
.download-btn::after{
    display: none;
}

h1{
    font-size: 60px;
    font-family: Bondie;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}
.gallery {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
    position: relative;
    top: 40px;
}

.gallery-image {
    max-width: 100%;
    cursor: pointer;
}

#fullscreen-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

#fullscreen-image {
    max-width: 90%;
    max-height: 90%;
}




#Galerie{
    width: 100%;
    height: 400vh;
}


.g{
    width: 100%;
    display: flex;
    border-radius: 18px;
    justify-content: center;
    font-family: Bondie;    
    font-size: 80px;
    position: relative;
    top: 30px;
    background: linear-gradient(315deg, hsla(195, 48%, 50%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
    box-shadow: 0 0 30px rgb(14, 207, 255);
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-family: 'Raleway', sans-serif;
}

.gallery-item:hover .caption {
    opacity: 1;
}   

#back-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #000; 
    background-color: #fff; 
    border: 1px solid #000; 
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#back-to-top:hover {
    background-color: #ccc; 

}

#back-to-top::after{
    display: none;
}
